// ------------------------------- Sass declarations
$black:  #262323;
$brown: #736767;
$light-brown: #9C8D8D;

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ------------------------------- Widget-text styles
#container {
    overflow: hidden;
}

.huebutton-container {
    // padding:1vmin;

    .widget {
        padding: inherit;
        width: inherit;
        // display: inline-block;
        // width: 100%;
        // display: block;
        // vertical-align: middle;
    }

    h1,h2,h3 {
        color: $brown;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.1ex;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.2ex;
    }
}

.button-group {
    height:70vh;
}
.widget-huebutton, .widget-huemaster {
    box-sizing: border-box;
    border-color:$light-brown;
    margin:2vmin 2vw;
    padding: 3vmin 4vw !important;
    display: flex !important;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 42vw;
    text-align: center;
    // min-height: 20vmin;

    &.on {
        border-color: rgb(255, 255, 148);
    }

    h1, h2, h3 {
        width:100%;
    }
}

.widget-huemaster {
    margin: 2vmin 6vw;
}

a {
    cursor: pointer;

    &:hover {
        background-color: rgba($brown, 0.1);
    }
}
