// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(0,0,0,0.1);

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-huebutton {
    transition: background-color 1s ease;
    //   background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }
  h3 {
    font-size: 1.3em;
    background-color: rgba(255, 105, 114, 0.8);
    mix-blend-mode: exclusion;
    color: #121212;
    display: inline-block;
    border-radius: 4px;
    padding: 0.3ex 1ex;
  }
}

.btn {
  &.on {
    //   background-color: red;
  }
  .widget-huebutton &.off{
    //   background-color: pink !important;
  }
  &:hover {
      opacity: 0.5;
      cursor: pointer;
  }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
        list-style: none;
        width: 100%;

        &[data-sizex="2"]{
            flex-grow: 2;
            width: 100%;
        }
    }

    .widget {
        display: block;
    }
}
