<ul class="flex">
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="currently" data-view="Clock"></div>
    </li>
    <% (1..6).each do |index| %>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="huebutton-light-<%=index%>" data-view="Huebutton"></div>
        </li>
    <% end %>
</ul>

<script type='text/javascript'>
$(function() {
    setTimeout(function() {
        var ipAddress = "192.168.86.111"
        var userId = "1e42344837c87b7f15bb21f8362a2f6f"

// Light toggle -------------------------------------------------
        $('.widget-huebutton .btn').on('click', function() {
              var onInput = $(this);
              var ID = onInput.children('input').val();

            if ($(this).hasClass('off')) {
                // console.log("ON", ID);
                var lightInfo = '{\"on\":true,\"bri\":254,\"sat\":144,\"hue\":14910}';

                $(this).toggleClass("on off");
                $.ajax({
                    type: "PUT",
                    url: "http://"+ipAddress+"/api/"+userId+"/lights/"+ID+"/state",
                    dataType: "json",
                    success: function(info) { console.log("WORKED", lightInfo); },
                    error: function(info) { console.log("NOPE", info); },
                    data: lightInfo
                });
            } else {
                // console.log("off", ID);
                var lightInfo = '{\"on\":false}';

                $(this).toggleClass("on off");
                $.ajax({
                    type: "PUT",
                    url: "http://"+ipAddress+"/api/"+userId+"/lights/"+ID+"/state",
                    dataType: "json",
                    success: function(info) { console.log("WORKED", lightInfo); },
                    error: function(info) { console.log("NOPE", info); },
                    data: lightInfo
                });
            }
        });
    },5000);
});
</script>
